<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../cart.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('.././header/header', {username: username}) %>
    <div class="des-outer-container">
      <div class="description-container"></div>
    </div>
    <div class="item-container"></div>
    <p>Total Price: $<span class="total-price">0</span></p>
    <script src="../../cart.js"></script>
  </body>
</html>
