body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin-top: 20px;
}

.logo {
  width: 250px;
  height: 50px;
  margin-top: 1.7em;
  margin-bottom: 0.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #3498db;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  color: #096cad;
  font-size: 24px;
  font-weight: 600;
  font-family: Arial, sans-serif;
}

.logo:hover {
  background-color: #3498db;
  color: white;
}

.username {
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  /* cursor: pointer; */
  outline: none;
  color: whitesmoke;
  width: 150px;
  font-size: 24px;
  font-weight: 600;
  font-family: Arial, sans-serif;
}
.navbar {
  background: #191825 !important ;
  color: white !important;
  font-size: 16pt;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1% 7%;
  box-shadow: none;
  position: fixed;
  height: 100px;
  top: -2em;
  left: 0;
  right: 0;
  z-index: 10;
}
/* .reset {
  text-decoration: none;
  font-size: 15px;
  position: relative;
  left: 60%;
} */
.headerButton {
  position: relative;
  top: 49px;
  text-decoration: none !important;
  transition: 0.3s ease all;
  cursor: pointer;
  outline: none;
  height: 30px;
  padding: 10px;
  font-weight: 800;
  font-size: 15px;
  border-radius: 5px;
  width: fit-content;
  color: #096cad;
  background-color: #191825;
  user-select: none;
  overflow: hidden;
  transition: all 0.3s ease;
}

.headerButton:hover {
  box-shadow: 0 10px 15px rgba(255, 224, 224, 0.2);
  transform: translateY(-3px);
  background-color: #3498db;
  color: whitesmoke;
}

.headerButton:active {
  transform: translateY(2px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}
