<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('../Home/views/header/header.ejs', {username: username,
    isLoggedIn: isLoggedIn}) %>
    <div class="des-outer-container">
      <div class="description-container"></div>
    </div>
    <div class="item-container"></div>
    <div class="loading">
      <button class="load">load more</button>
    </div>
    <script src="../Admin/dashboard.js"></script>
  </body>
</html>
